.App {
  text-align: center;
  background-color: pink;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(89, 89, 99);
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#thumbnails {
  position: relative;
  display: block;
  display: flex;
  flex-wrap: wrap;
}

#bigImage {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border: 5px solid darkgray;
}

.thumb {
  flex: 1;
  margin: 5px;
  height: 200px;
  width: 200px;
  display: block;
  cursor: pointer;
  object-fit: cover;
}

.landing {
  display: flex;
  height: 94vh;
}

.left-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B0B12;
}

.right-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}