.App {
  text-align: center;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(89, 89, 99);
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#thumbnails {
  position: relative;
  display: block;
  display: flex;
  flex-wrap: wrap;
}

#bigimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumb {
  flex: 1;
  margin: 5px;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer;
  object-fit: cover;
}